

.all-students {
  display: block;
  border: 1px solid rgb(0, 0, 0, 0.1);
  margin: 5% 20%;
  max-height: 50vh;
  height: auto; 
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 1px 5px 1px rgb(0, 0, 0, 0.3);
  padding: 10px 30px;
}

::-webkit-scrollbar {
  display: none;
}

.student-container {
  display: flex;
  align-items: center;
  /* gap: 40px; */
  padding: 10px 0;
  overflow: hidden;
  width: 100%;
  margin: 0px;
  /* justify-content: space-between; */
}

.student-image img {
  max-width: 100%;
  /* width: 120px; */
  width: 8vw;
  height: auto;
  display: block;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0, 0.2);
}

.student-text {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  padding: 0 40px;
}

.student-text h1 {
  font-weight: 700;
  margin: 10px 0;
  font-size: 3vw;
}

.text {
  font-weight: 300;
  padding: 2px 20px;
  font-size: 1.2vw;
}

.search-input {
  width: 100%;
  border: none;
  font-family: 'Raleway', sans-serif;
  padding: 8px 5px;
}

.search-input:focus{
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.8);
  /* box-shadow:  0px 15px 10px -15px black;  */
}

.student-expander-wrapper {
  display: inline-flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

}

.grade-expand {
  border: none;
  font-size: 4.5vw;
  padding: 5px 0;
  opacity: 0.5;
  cursor: pointer;
}

.grade-expand:hover {
  opacity: 1;
}

.minus {
  font-size: 5vw;
}

.grades-list {
  display: flex;
  flex-direction: column;
  padding-left: 64px;
  margin: 0 8vw;
  justify-content: flex-start;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw;
}

.grade {
  display: flex;
  width: 10vw;  
  padding: 0;
  justify-content: space-between;
}

.tags-container {
  padding: 5px;
  display:flex;
  flex-direction: row;
}

.tags {
  display: flex;
  flex-direction: column;
  padding-left: 64px;
  margin: 0 8vw;
  justify-content: flex-start;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw;
}

.tag {
  border: 1px solid rgba(128, 128, 128, 0.322);
  display:inline-block;
  padding: 8px;
  margin: 2px 3px;
  border-radius: 3px;
  font-weight: 300;
  background-color:rgba(128, 128, 128, 0.247);
}

.tags input {
  width: 45%;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  padding: 8px 5px;
}

.tags input:focus{
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.8);
}