

.all-students {
  display: block;
  border: 1px solid rgb(0, 0, 0, 0.1);
  margin: 5% 20%;
  max-height: 50vh;
  height: auto; 
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 1px 5px 1px rgb(0, 0, 0, 0.3);
  padding: 10px 30px;
}

::-webkit-scrollbar {
  display: none;
}

.student-container {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 10px 0;
  overflow: hidden;
  width: 90%;
}

.student-image img {
  max-width: 100%;
  width: 120px;
  height: auto;
  display: block;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0, 0.2);
}

.student-text {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
}

.student-text h1 {
  font-weight: 700;
  margin: 10px 0;
  font-size: 3vw;
}

.student-text div {
  font-weight: 400;
  padding: 2px 20px;
  font-size: 1.2vw;
  
}